{% extends 'layouts/main_layout.html.twig' %}

{% block title %}Formations • {{ course.title }}{% endblock %}

{% block content %}
    <twig:Card title="{{ course.title }}" description="{{ course.description }}">
        <div class="flex flex-col space-y-6">
            <twig:SubContent title="Informations">
                {% block button %}
                    <div>
                        <div
                            class="focus:outline-none rounded-md inline-flex items-center text-sm px-3 py-1.5 transition duration-300 bg-[#24292F] text-white hover:bg-gray-600 hover:cursor-pointer">
                            {{ ux_icon('ph:pencil', {class: 'w-5 h-5 -mb-0.5 lg:mr-1.5'}) }}
                            <span class="hidden lg:block">Modifier</span>
                        </div>
                        <div
                            class="focus:outline-none rounded-md inline-flex items-center text-sm px-3 py-1.5 transition duration-300 bg-red-600 text-white hover:bg-red-400 hover:cursor-pointer">
                            {{ ux_icon('ph:trash', {class: 'w-5 h-5 -mb-0.5 lg:mr-1.5'}) }}
                            <span class="hidden lg:block">Supprimer</span>
                        </div>
                    </div>
                {% endblock %}
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 items-start">
                    <div>
                        <p class="text-sm text-gray-600 inline-flex items-center">
                            {{ ux_icon('ph:calendar-dots', {class: 'w-4 h-4 -mb-0.5 mr-1.5'}) }}
                            <span>Période</span>
                        </p>
                        <p class="font-semibold text-gray-900">01 octobre 2025 - 30 juin 2027</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-600 inline-flex items-center">
                            {{ ux_icon('ph:door-open', {class: 'w-4 h-4 -mb-0.5 mr-1.5'}) }}
                            <span>Capacité</span>
                        </p>
                        <p class="font-semibold text-gray-900">30 places (25 disponibles)</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-600 inline-flex items-center">
                            {{ ux_icon('ph:user', {class: 'w-4 h-4 -mb-0.5 mr-1.5'}) }}
                            <span>Candidatures</span>
                        </p>
                        <p class="font-semibold text-gray-900">3 candidatures</p>
                    </div>
                    <div>
                        <p class="text-sm text-gray-600 inline-flex items-center">
                            {{ ux_icon('ph:calendar', {class: 'w-4 h-4 -mb-0.5 mr-1.5'}) }}
                            <span>Date de création</span>
                        </p>
                        <p class="font-semibold text-gray-900">02 novembre 2025</p>
                    </div>
                </div>
            </twig:SubContent>

            <twig:SubContent title="Critères">
                {% block button %}
                    <div
                        class="focus:outline-none rounded-md inline-flex items-center text-sm px-3 py-1.5 transition duration-300 bg-[#24292F] text-white hover:bg-gray-600 hover:cursor-pointer">
                        {{ ux_icon('ph:plus', {class: 'w-5 h-5 -mb-0.5 lg:mr-1.5'}) }}
                        <span class="hidden lg:block">Ajouter</span>
                    </div>
                {% endblock %}
                <div class="shadow-sm rounded-lg">
                    <table class="min-w-full text-left border-collapse">
                        <thead>
                        <tr class="text-gray-700 uppercase text-sm text-center lg:text-left leading-normal bg-gray-50">
                            <th class="p-1 lg:py-3 lg:px-4 font-semibold border-b border-gray-300">Nom</th>
                            <th class="p-1 lg:py-3 lg:px-4 font-semibold border-b border-gray-300">Notes
                            </th>
                            <th class="p-1 lg:py-3 lg:px-4 font-semibold border-b border-gray-300 text-center">Actions
                            </th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-800 text-sm">
                        {% for criterion in criteria %}
                            <tr class="border-b border-gray-300 hover:bg-gray-50 transition">
                                <td class="p-1 lg:py-3 lg:px-4 font-medium">
                                    {{ criterion.title }}
                                </td>

                                <td class="py-3 px-4">
                                    <div class="flex flex-wrap gap-2">
                                        {% for mark in criterion.marks %}
                                            <span
                                                class="inline-flex items-center px-2.5 py-1 rounded-full text-xs font-medium bg-gray-100 text-gray-700">
                                                    {{ mark.label }}
                                                    <span class="ml-1 text-gray-500 text-xs">({{ mark.mark }})</span>
                                                </span>
                                        {% endfor %}
                                    </div>
                                </td>

                                <td class="py-3 px-4 text-center flex flex-col lg:flex-row justify-center gap-2">
                                    <div
                                        class="focus:outline-none rounded-md inline-flex items-center justify-center text-sm px-2 py-1 transition duration-300 bg-[#24292F] text-white hover:bg-gray-600 cursor-pointer">
                                        {{ ux_icon('ph:pencil', {class: 'w-4 h-4'}) }}
                                    </div>
                                    <div
                                        class="focus:outline-none rounded-md inline-flex items-center justify-center text-sm px-2 py-1 transition duration-300 bg-red-600 text-white hover:bg-red-400 cursor-pointer">
                                        {{ ux_icon('ph:trash', {class: 'w-4 h-4'}) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </twig:SubContent>
        </div>
    </twig:Card>
{% endblock %}
